* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.logo {
  height: 50px;
  margin-top: -20px;
}
.nav a span,
.navbar-default .navbar-nav > li > a {
  color: maroon;
}
.redirects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}
.redirects .col-sm-3 {
  padding: 2em 4em;
}
.redirects i {
  font-size: 3em;
  transition: transform 0.2s;
}
.redirects i:hover {
  transform: scale(1.2) translateX(-10px);
  opacity: 0.5;
}
.statistics-btn {
  background-color: #4285f4;
  padding: 1em 1em;
  border-radius: 10px;
  transition: transform 0.2s;
  margin-bottom: 50px;
}
.statistics-btn:hover {
  transform: scale(1.025);
  opacity: 0.8;
}
.statistics-btn a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.statistics-btn i {
  font-size: 18px;
  margin-right: 15px;
}
